.toast-container {
	width: 30%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	.toast-text {
		font-size: 1.6rem;
		padding: 0.5rem 0.25rem;
		color: var(--primary-text-color);
		border: 2px solid var(--border-color);
		margin: 0.5rem 0;
		outline: none;
	}
	label {
		font-size: 1.8rem;
		color: var(--primary-text-color);
		margin: 0.5rem 0;
		select {
			margin-left: 2rem;
			font-size: 1.6rem;
			padding: 0.25rem;
		}
	}
	.btn-toast {
		width: 30%;
		font-size: 1.6rem;
		color: var(--complimentary-text-color);
		padding: 0.5rem 0.5rem;
		background-color: var(--dark-primary-color);
		align-self: end;
		border: 2px solid var(--border-color);
		margin-top: 1rem;
		cursor: pointer;
	}
}
